/* A custom styled checkbox which imitates materialize's badge */


/* Lozenge styling */
[type="checkbox"].lozenge + span:not(.lever) {
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;

    min-width: 3rem;
    padding: 0 6px 0 22px;
    margin-left: 14px;
    text-align: center;
    line-height: 22px;
    height: 22px;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #26a69a;
    border-radius: 2px;
}

/* On mouse-over, dim brightness */
[type="checkbox"].lozenge + span:hover {
    filter: brightness(90%);
}

[type="checkbox"].lozenge + span:not(.lever):before,
[type="checkbox"].lozenge:not(.filled-in) + span:not(.lever):after {
    content: '';
    position: absolute;

    top: 7px;
    left: 8px;
    width: 8px;
    height: 8px;

    border: 1px solid #fff;
    border-radius: 10px;

    z-index: 0;
    margin-top: 0;
    -webkit-transition: .1s;
    transition: .1s;
}

[type="checkbox"].lozenge:checked + span:not(.lever):before {

    /* These need to stay here to override the style in materialize.css */
    top: 7px;
    left: 8px;
    width: 8px;
    height: 8px;

    border: 1px solid #888;
    border-radius: 10px;

    background-color: #fff;
    opacity: 90%;

    -webkit-transform: none;
    transform: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: unset;
    transform-origin: unset;
}
